.formcontact {
  display: flex;
  flex-direction: column;
  width: 250px;
  margin-left: 20px;
}
.inputlabel {
  font-weight: 600;
  display: block;
  width: 100%;
}
.inputfield {
  margin-top: 10px;
  margin-bottom: 10px;
}
.btn {
  margin-top: 10px;
  width: 100px;
  cursor: pointer;
}
